data:
  image: tianon/true
  volumes:
    - ./data/mysql:/var/lib/mysql
    - ./data/redmine/files:/usr/src/redmine/files
    - ./data/redmine/log:/usr/src/redmine/log
    - ./data/redmine/theme:/usr/src/redmine/public/themes/chouette-coop:ro
#    - ./data/redmine/plugins:/usr/src/redmine/plugins:ro
    - ./data/redmine/plugins/mega_calendar:/usr/src/redmine/plugins/mega_calendar:ro
    - ./data/redmine/plugins/redmine_ldap_sync:/usr/src/redmine/plugins/redmine_ldap_sync:ro
    - ./data/redmine/plugins/redmine_base_deface/:/usr/src/redmine/plugins/redmine_base_deface/:ro
    - ./data/redmine/plugins/redmine_multiprojects_issue//:/usr/src/redmine/plugins/redmine_multiprojects_issue//:ro


mysql:
  image: mysql:5.5
  environment:
    - MYSQL_ROOT_PASSWORD=root
    - MYSQL_DATABASE=redmine
    - MYSQL_USER=redmine
    - MYSQL_PASSWORD=password
  volumes_from:
    - data

redmine:
  build: ./docker
  links:
    - mysql
  environment:
    - VIRTUAL_HOST=gestion.lachouettecoop.test
  volumes_from:
    - data
